<!--<template>-->
    <!--<li class="dropdown dropdown-notification nav-item">-->
        <!--<a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-bell"></i>-->
            <!--<span class="badge badge-pill badge-default badge-danger badge-default badge-up badge-glow">{{nots.length}}</span>-->
        <!--</a>-->
        <!--<ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">-->
            <!--<li class="dropdown-menu-header">-->
                <!--<h6 class="dropdown-header m-0">-->
                    <!--<span class="grey darken-2">Notifications</span>-->
                <!--</h6>-->
                <!--<span class="notification-tag badge badge-default badge-danger float-right m-0">{{nots.length}} New</span>-->
            <!--</li>-->
            <!--<li class="scrollable-container media-list w-100">-->
                <!--<div v-for="not in nots">-->
                <!--<a href="javascript:void(0)"  @click="read(not)">-->
                    <!--<div class="media">-->
                        <!--<div class="media-left align-self-center"><i class="ft-plus-square icon-bg-circle bg-cyan"></i></div>-->
                        <!--<div class="media-body">-->
                            <!--<h6 class="media-heading">You have new order!</h6>-->
                            <!--<p class="notification-text font-small-3 text-muted">{{not.data.message}}</p>-->
                            <!--<small>-->
                                <!--<time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">{{not.created_at}}</time>-->
                            <!--</small>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center" href="javascript:void(0)">Read all notifications</a></li>-->
        <!--</ul>-->
    <!--</li>-->
<!--</template>-->

<!--<script>-->
    <!--export default {-->
        <!--props:['nots','url'],-->
        <!--mounted() {-->

        <!--},-->
        <!--methods:{-->
            <!--read(not){-->
                <!--axios.post(this.url,{id:not.id}).then(response => {-->
                    <!--window.location.href =not.data.url;-->
                <!--});-->
            <!--}-->
        <!--}-->
    <!--}-->
<!--</script>-->
